.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis text{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
}

.brush .extent,  .brushnote .extent{
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.fullWidth{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

path { 
	stroke-width: 1;
	shape-rendering: auto;
}  

line.ts{
	shape-rendering: crispEdges;
}


/* stuff for classification */

.chart {
  display: block;
  margin: auto;
  margin-top: 0px;
  font-size: 11px;
}

rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
  fill: steelblue;
}

text {
  pointer-events: none;
}

a{
  text-decoration: none;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#title{
  text-align: center;
}

.active{
  font-weight: bold;
}

.button{
  padding: 0;
}

.d3-tip{
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 2px;
}

/* create a small triangle extender */
.d3-tip:after{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0,0,0,0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* style northward tips differently */
.d3-tip.n:after{
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}
