doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="mobile-web-app-capable" content="yes")
		link(href="/viz/css/foundation/css/foundation.min.css",rel="stylesheet")
		link(href="/viz/css/font-awesome-4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="/viz/css/viz.css",rel="stylesheet")
		title ucn
		style.
			.area{
				clip-path: url(#clip);
			}
			.historyoverlay{
				clip-path: url(#clip);
			} 
			.locationoverlay{
				clip-path: url(#clip);
			}
	body 
		section(id="main")
		script(src="js/bundle.min.js")
